# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

google-cloud-storage
google-cloud-secret-manager
google-cloud-vision
psycopg2-binary
vertexai==1.43.0
google-auth
google-oauth
google-cloud-pubsub
pathlib
pypdf
pdf2image
pdf2image
pydantic
python-Levenshtein
python-multipart
pandas
requests
scikit-image
opencv-python
geoip2
numpy
roman
shapely
ruamel-yaml
matplotlib
pygltflib
pillow
fastapi
uvicorn